@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Playwrite+US+Trad:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
}

.logo{
    width: 150px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
} 

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}
.res-card{
    padding: 5px;
    width: 200px;
    
    background-color: #f0f0f0;
    border-radius: 5%;
    margin: 8px;
    
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 3px 3px 5px grey;

}

.search{
    padding: 10px;
}

.res-logo{
   object-fit: cover;
   overflow: hidden;
   height: 150px;
   border-radius: 5%;
   > img{
      width: 200px;
   }
    
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}


.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 20px;
    width: 200px;
    padding: 5px;
   height: 500px;
    
    background-color: #f0f0f0;
    border-radius: 5%;
    margin: 8px;

}

.login{
    margin: 5px;
    border-radius: 999px;
    width: 150px;
    font-size: 24px;
    cursor: pointer;
}

.filter{
    display: flex;
}